body{
	background-color: #F6F6F6;
}

.container{
	padding-top: 10%;
}
.header{
	padding-bottom: 50px;
	font-size: 50px;
}

.bigLetter{
	font-size: 70px;
}

a:link, a:visited, a:hover, a:active{
	color: hsl(0, 0%, 10%);
	text-decoration: none;
}

.block{
	margin: 10px 0px;
	padding: 15px 30px;
	/*border-radius: 10px;*/
	text-align: left;
	font-family: Arial;
	font-size: 18px;
	background-color: #FFF;
}

.title{
	font-weight: bold;
}